useDynLib(biosignals)
import(IRanges)

exportMethods(
  detectPeaksByEdges,
  convolve1d
)

export(
  convolve1d,

  createGaussScaleSpace,
  analyzeEdges,
  findLocalExterma,

  detectEdges,
  detectPeaksByEdges,

  kdeSmooth,
  generateKernel,

  slidingMax,
  slidingMin,
  zeroCrossings,
  quantilePositions,

  ## To help debug
  visualizeEdges
)


