useDynLib(biosignals)

export(
  convolve1d,

  createGaussScaleSpace,
  analyzeEdges,
  findLocalExterma,

  kdeSmooth,
  generateKernel,

  slidingMax,
  slidingMin,
  zeroCrossings,
  quantilePositions
)


