useDynLib(biosignals)
import(IRanges)

exportMethods(
  detectPeaksByEdges,
  convolve1d
)

export(
  convolve1d,

  detectEdges,
  detectPeaksByEdges,

  kdeSmooth,
  generateKernel,

  # asRle,
  # expandRle,
  slidingMax,
  slidingMin,
  zeroCrossings,
  quantilePositions,

  ## To help debug
  visualizeEdges
)


